<footer class="mdl-mini-footer bottom">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Created by</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://www.linkedin.com/in/jaroslav-artjuh-680844a2" target="_blank">Jaroslav Artjuh</a></li>
    </ul>
  </div>

  <div class="mdl-mini-footer__right-section">
    <div class="mdl-logo">Source code</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://github.com/jarik888/github-browsing" target="_blank">here</a></li>
    </ul>
  </div>
</footer>
